#container {
  width: 90%;
  margin: 0px auto 0px auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color:#565656;
}

.loader-padding{
  padding: 15px 1em 0 2em;
}

.NoData
{
  width:100%;
  margin-left: 10%;
  color:red;
}